* {
  margin: 0;
  padding: 0;
}

.header {
  height: 90px;
}

.article1 {
  height: 720px;
  background-color: #ece7e4;
}

.article2 {
  height: 782px;
}

.article3 {
  height: 600px;
}

.article4 {
  height: 581px;
}

.article5 {
  height: 600px;
}

.article6 {
  height: 410px;
  background-color: #403e3b;
}

.article7 {
  height: 600px;
}

.article8 {
  height: 918px;
  background-color: #f7f7f7;
}

.article9 {
  height: 592px;
}

.article10 {
  height: 314px;
  background-color: #cec4bc;
}

.footer {
  height: 204px;
  background-color: #f7f7f7;
}
